<% content_for :title, "关于我们" %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center pt-4">
      <div class="h3">
        四方连续策划设计 / 简介
      </div>
    </div>

    <div class="col-12">
      <div class="col-md-2 col-4 mx-auto">
        <%= image_tag "about/1484044958_5360_-_Dzone.png", class: "img-fluid" %>
      </div>
    </div>

    <div class="col-lg-10 col-12 mx-auto pb-5">
      <div class="row">
        <div class="col-md-2 col-3">
          <%= image_tag "about/if_JD-15_2246837.svg", class: "img-fluid" %>
        </div>
        <div class="col d-flex align-items-center">
            <span>
              广西四方连续文化传媒有限公司（简称：四方连续创享品牌 / The continuous），专注品牌形象量身定制，是一家注重实效的新锐设计公司，以品牌设计为核心业务，为各阶段企业提供务实的形象策划服务。
            <span>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-12 mx-auto pb-5">
      <div class="row">
        <div class="col-md-2 col-3">
          <%= image_tag "about/if_Web_Design_1016081.svg", class: "img-fluid" %>
        </div>
        <div class="col d-flex align-items-center">
          <span>
            <h5>四方连续核心服务：</h5>
            品牌形象建立与升级：品牌策划 \ 标志设计 \ VIS设计 \ 商业空间设计；<br>
            推广物料设计：画册样本设计 \ 展会形象设计 \ 包装设计 \ 网站设计；<br>
            广告设计代理：专业地产整合推广以及品牌形象年度设计管理；<br>
            高端网站建设：网站设计、微信小程序开发、电商视觉设计。
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-12 mx-auto pb-5">
      <div class="row">
        <div class="col-md-2 col-3">
          <%= image_tag "about/if_JD-03_2246802.svg", class: "img-fluid" %>
        </div>
        <div class="col d-flex align-items-center">
          <span>
            四方连续是一个积极向上的年轻团队，我们怀着一颗进取、责任、感恩的心，致力服务于重视形象价值的客户，提供相互尊重与信任的设计服务，我们不只为了盈利，更怀揣着创想未来的梦想！
            热忱期待与更多潜力型企业客户共同成长、携手同行。
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
