
<div class="row no-gutters" style="margin-top: -6rem;">
	<div class="col-12">
		<div id="map-container" style="height: 550px"></div>
	</div>
</div>


<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=kH9l47s5QcAP6A1ZnpXYsCxDPG9WDtU7"></script>

<script type="text/javascript">
var map = new BMap.Map("map-container");
// 创建地图实例
var point = new BMap.Point(108.394269,22.806673);
// 创建点坐标
map.centerAndZoom(point, 16);
// 初始化地图，设置中心点坐标和地图级别
<%# "#{image_path('LOGO.svg')}" %>
// "https://www.sflx.com.cn/LOGO.svg"
function addMarker(point, index){  // 创建图标对象
	var myIcon = new BMap.Icon("<%= image_path('logo_for_map.svg') %>", new BMap.Size(70, 70), {
        // 指定定位位置。
        // 当标注显示在地图上时，其所指向的地理位置距离图标左上
        // 角各偏移10像素和25像素。您可以看到在本例中该位置即是
        // 图标中央下端的尖角位置。
        // anchor: new BMap.Size(10, 25),
        // anchor: new BMap.Size(-10, -10)
        // 设置图片偏移。
        // 当您需要从一幅较大的图片中截取某部分作为标注图标时，您
        // 需要指定大图的偏移位置，此做法与css sprites技术类似。
        // imageOffset: new BMap.Size(0, 0 - index * 25)   // 设置图片偏移
        // imageOffset: new BMap.Size(0, 10)
      });
	// Mine 设置Icon偏移坐标量，(x,y)
  var offset =  new BMap.Size(55, -35)
    // 创建标注对象并添加到地图
  var marker = new BMap.Marker(point, {icon: myIcon, offset: offset});
  map.addOverlay(marker);
}

addMarker(point,0);

map.setMapStyle({
	styleJson:[
	{
		"featureType": "all",
		"elementType": "geometry",
		"stylers": {
			"hue": "#007fff",
			"saturation": 89
		}
	},
	{
		"featureType": "water",
		"elementType": "all",
		"stylers": {
			"color": "#ffffff"
		}
	},
	{
		"featureType": "poilabel",
		"elementType": "labels.icon",
		"stylers": {
			"visibility": "off"
		}
	},
	{
		"featureType": "road",
		"elementType": "labels.icon",
		"stylers": {
			"visibility": "off"
		}
	}
	]
});
</script>
