<h1>Editing Gallery</h1>

<%= render 'form', gallery: @gallery %>

<div class="py-3"></div>

<%= link_to 'Show', @gallery, class: "btn btn-secondary" %> |
<%= link_to 'Back', galleries_path, class: "btn btn-secondary" %>
