<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%#= f.text_field field.attribute %>

  <%#= form_for @gallery, url: galleries_path, html: { multipart: true } do |form| %>
  <%= f.file_field field.attribute, html: { multipart: true } %>
  <%# end %>
</div>
