<div class="blue lighten-4">
  <nav class="container d-flex justify-content-between">
    <div class="navbar-brand">Galleries</div>
    <div class="submenus">
      <% Menus.new.gallery_types.each do |gt| %>
      <%= link_to gt[:title], gt[:path], class: "btn", "data-classify" => gt[:title] %>
      <% end %>
    </div>
  </nav>
</div>

<% @galleries.each do |g| %>
<%= image_tag g.images.where(image_file_name: g.cover).first.image.url(:w768)  %>
<% end %>
<!-- <div class="container submenu">
  <% Menus.new.gallery_types.each do |gt| %>
  <%= link_to gt[:title], gt[:path], "data-classify" => gt[:title] %>
  <% end %>
</div> -->

<h1>Galleries</h1>
