
// @import "mdb/scss/mdb";
@import "lib/mdb/colors";
@import "lib/mdb/mixins";
@import "lib/mdb/variables";
@import "lib/mdb/navbars";
@import "lib/mdb/footers";

@import "bootstrap";

@import "slideout";
@import "lib/waves";

@import 'slick';
@import 'slick-theme';

@import 'jquery-ui';
@import 'lib/animate';

@import 'galleries';

$menucolor:#fff;

body{
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

// dropdown nav
.dropdown-menu {
  padding: .5rem;}

.navbar .dropdown-menu .white-text {
      color: #fff !important;}

// .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
//   color: #fff;
// }

.not-delay{
  animation-delay: 0s !important;
}


.animation-paused{
  animation-play-state: paused;
}

.menu-toggle{
    width: 60px;
    height: 60px;
    z-index: 100;
    cursor: pointer;
}

.menu-toggle svg path, svg line {
    stroke: #fff;
    stroke-width: 6px;
    stroke-linecap: round;
    fill: none;
}

.nav-item{
  position:relative;
}

.nav-item:before {
  position:absolute;
  content:"";
  border-bottom:3px solid $menucolor;
  overflow:hidden;
  width:0%;
  left:50%;
  top:55px;
  transition:0.2s ease-in-out 0.15s;
}
.nav-item:hover:before {
  width:100%;
  left:0%;
  transition:0.2s ease-in-out;
}  

.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  color: #fff !important;
}

// S slideout menu
.slideout-menu{
  background-image: url(sidenav4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // z-index: 1040;
  .mask-strong::after{
    background: rgba(87,134,180,.8);
  }

  .sidenav-bg::after{
    width: 100%;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    // margin-bottom: -99999px;
    // padding-bottom: 99999px;
  }
// social icon hover effect
  .external-icons .col-1 {

    transition: color 300ms linear;
  }

  .external-icons .col-1:hover {
    color: #bdbdbd;
  }

  .list-group-item{
    background-color: transparent;
    border: none;
    transition: background-color 300ms linear;
  }
  .list-group-item:hover{
    background-color: rgba(0,0,0,.4);

  }
}
// E slideout menu
.text-black-10{color:rgba(0,0,0,.1)!important}
.text-black-20{color:rgba(0,0,0,.2)!important}
.text-black-30{color:rgba(0,0,0,.3)!important}
.text-black-40{color:rgba(0,0,0,.4)!important}
.text-black-50{color:rgba(0,0,0,.5)!important}
.text-black-60{color:rgba(0,0,0,.6)!important}
.text-black-70{color:rgba(0,0,0,.7)!important}
.text-black-80{color:rgba(0,0,0,.8)!important}
.text-black-90{color:rgba(0,0,0,.9)!important}

