
// @import "mdb/scss/mdb";
@import "shared/lib/mdb/colors";
@import "shared/lib/mdb/mixins";
@import "shared/lib/mdb/variables";
@import "shared/lib/mdb/navbars";
@import "shared/lib/mdb/footers";
@import "shared/lib/mdb/global";


@import 'shared/manifests/variables';
@import "bootstrap";
@import 'shared/manifests/styles';


@import "shared/manifests/slideout";
@import "shared/lib/waves";

@import 'slick';
@import 'slick-theme';

@import 'jquery-ui';
@import 'shared/lib/animate';

@import 'shared/manifests/galleries';

// variables include break-point, have to put it at last for overwrite normal style.
@import 'shared/manifests/breakpoints';
@import 'shared/lib/magnific-popup';

$menucolor:#fff;

body{
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

img {
    pointer-events: none;
}



.notice{
  position: absolute;
  left: 0;
  top:6rem;
  z-index: 100;
  width: 100%;
  text-align: center;
}

// dropdown nav
.dropdown-menu {
  padding: .5rem;
}

.navbar-wrap {
  z-index: 100;
  height: 6rem;
  box-shadow: $z-depth-1;
  .dropdown-menu .white-text {
    color: #fff !important;
  }
}

// .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
//   color: #fff;
// }

.not-delay{
  animation-delay: 0s !important;
}


.animation-paused{
  animation-play-state: paused;
}

.menu-toggle{
  width: 60px;
  height: 60px;
  z-index: 100;
  cursor: pointer;
}

.menu-toggle svg path, svg line {
  stroke: #fff;
  stroke-width: 6px;
  stroke-linecap: round;
  fill: none;
}

.nav-item{
  position:relative;
  &:before {
    position:absolute;
    content:"";
    border-bottom:3px solid $menucolor;
    overflow:hidden;
    width:0%;
    left:50%;
    top:4.3rem; //4.3rem
    transition:0.2s ease-in-out 0.15s;
  }
  &:nth-child(1):before{
      display: none;
  }
  &:hover:before {
    width:100%;
    left:0%;
    transition:0.2s ease-in-out;
  }
}


.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  color: #fff !important;
}
.plus-icon {
  width:10px;
  height:10px;
  stroke:#9575CD;
  margin-bottom:1px;
}

.nav-item{
  .sub-menu {
    position:absolute;
    left:50%;
    margin-left: -100px;
    top:58px;
    padding:0;
    text-align:left;
    box-shadow: $z-depth-5; //0px 4px 20px -5px rgba(0, 0, 0, 0.15);
    max-width:200px;
    opacity:0;
    transition:all 0.45s ease 0.10s;
    z-index:6;
    transform:translateY(-20px);
    visibility:hidden;
    .menu-item {
      display:block;
    }
    .triangle-up{
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid #fff;
    }
  }
  &:hover {
    .sub-menu {
      max-width:200px;
      opacity:1;
      transform:translateY(0px);
      visibility:visible;
    }
    .sub-menu-item {
      visibility:visible;
    }
  }
  .sub-menu-item {
    list-style-type:none;
    display:block;
    position:relative;
    // transform:translateY(-10px);
    opacity:0;
    // transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.10s, background-color .05s;
    transition: background-color .2s;
    visibility:hidden;
    opacity:1;
    border-top: 0.04rem solid rgba(0, 0, 0, 0.125);
    border-bottom: 0.04rem solid rgba(0, 0, 0, 0.125);
    &:after{
      content: "";
      width: calc(100% + 2rem);
      height: calc(100% + 0.04rem);
      left: -1rem;
      top: -0.02rem;
      position: absolute;
      z-index: -1;
    }
    &:hover:after{
      background-color: darken(#fff,5);
    }
    a{
      word-break: keep-all;
      color: #424242;
      width:100%;
      height:100%;
      &:hover {
        // color:lighten(#424242,20);
        text-decoration: none;
      }
    }
    &:nth-child(1)  {
      border-top: none;
    }
  }
}

// <slideout menu
.slideout-menu{
  // background-image: url(<%= image_path("sidenav4.jpg") %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // z-index: 1040;
  .mask-strong::after{
    background: rgba(87,134,180,.8);
  }

  .sidenav-bg::after{
    width: 100%;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    // margin-bottom: -99999px;
    // padding-bottom: 99999px;
  }
  // social icon hover effect
  .external-icons .col-1 {

    transition: color 300ms linear;
  }

  .external-icons .col-1:hover {
    color: #bdbdbd;
  }

  .list-group-item{
    background-color: transparent;
    border: none;
    transition: background-color 300ms linear;
  }
  .list-group-item:hover{
    background-color: rgba(0,0,0,.4);

  }
  .dropdown-item{
    &:focus, &:hover {
      background: none;
    }
  }
}
// </slideout menu

// web
.web-page{
  .web-image{
    background: center center no-repeat;
    background-size: cover;
  }
}

// </web

// slick
.slider-wrap{
  margin-top: -6rem;
}
.slick-slider{
  margin: 0;
}
.slider-bg{
  background: center center no-repeat;
  background-size: cover;
  // height: 950px;
  height: 100vh;
}
.slider-info{
  margin-top: 6rem;
}
.slider-nav-wrap{
  position: absolute;
  bottom: 0;
  border-top: 1px solid;
  border-image: linear-gradient(90deg, rgba(255,255,255,.0), rgba(255,255,255,.9) 20%, rgba(255,255,255,.9) 80%, rgba(255,255,255,.0)) 1;
  background: linear-gradient(90deg, rgba(0,0,0,.0), rgba(0,0,0,.3) 20%, rgba(0,0,0,.3) 80%, rgba(0,0,0,.0));
  .slider-nav-scroll{
    border-left: 1px solid;
    border-image: linear-gradient(0deg, rgba(255,255,255,.0), rgba(255,255,255,.0) 20%, rgba(255,255,255,.9) 20%, rgba(255,255,255,.9) 80%,rgba(255,255,255,.0) 80%, rgba(255,255,255,.0)) 1;
  }
}
// </slick

// scroll button
.scroll-down-animation-wrap{
  position: relative;
  top:50%;
  margin-top: -50px;
}

.scroll-down-animation a span {
  position: absolute;
  top: 1rem;
  left: 50%;
  width: 26px;
  height: 40px;
  margin-left: -14px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll-down-animation a span::before {
  position: absolute;
  top: 4px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 16px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section07 a span {
  position: absolute;
  top: 52px;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.section07 a span:nth-of-type(2) {
  top: 66px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// </scroll button

$social-color-pallete: (
     weixin: #09BB07,
     qq: #1f8ec6
);

$social-default-icon-color: #fff;
$social-default-btn-color: #666;
$social-icon-size: 60px;
$social-icon-border: 2px;
$social-icon-border-radius: 5px;

.icon-link {
    width: $social-icon-size;
    height: $social-icon-size;
    background-color: $social-default-btn-color;
    line-height: $social-icon-size;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 5px;
    border: $social-icon-border solid transparent;
    position: relative;
   // @include box-sizing(content-box);
   & svg{
     color: $social-default-icon-color;
     width: 70% !important;
     height: 70% !important;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
    &.fill {

      @each $social-alias, $social-color in $social-color-pallete {
        &.#{$social-alias} {
          background-color: $social-color;
          &:hover {
            background-color: #fff;
            .fa-#{$social-alias} {
              color: $social-color;
              @include transition(color 150ms ease-in-out);
            }
          }
        }
      }
    }

  // &.brand {
  //   background-color: #fff;
  //   .fa {
  //     color: $brand-color;
  //   }
  // }

    &.round {
      border-radius: 50%;
    }

    &.round-corner {
      border-radius: $social-icon-border-radius;
    }

    &:hover {
      @include transition(background-color 150ms ease-in-out);
      // height: $social-icon-size - $social-icon-border * 2;
      line-height: $social-icon-size - $social-icon-border * 2;
      // width: $social-icon-size - $social-icon-border * 2;
      background-color: #fff;

      @each $social-alias, $social-color in $social-color-pallete {
        &.#{$social-alias} {
          border: $social-icon-border solid $social-color;
        }
      }

      .fa {
        line-height: $social-icon-size - $social-icon-border * 2;
      }

      @each $social-alias, $social-color in $social-color-pallete {
        .fa-#{$social-alias} {
            color: $social-color;
            @include transition(color 150ms ease-in-out);
        }
      }
  }
  // .fa{
  //   color: $social-default-icon-color;
  //   line-height: $social-icon-size;
  //   font-size: $social-icon-size - $social-icon-size * 0.40;
  // }

}

@-webkit-keyframes slideInUp20 {
  from {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp20 {
  from {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp20 {
  -webkit-animation-name: slideInUp20;
  animation-name: slideInUp20;
}
