$navbar-height-xs:60px;

@include media-breakpoint-down(xs) {
  .navbar-wrap {
    height: $navbar-height-xs;
    .navbar{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .slider-wrap {
    margin-top: -$navbar-height-xs;
  }

  .navbar-brand{
    img{
      height: 40px !important;
    }
  }

  .next-gallery-img{
    height: 40vh;
  }

  .border-xs-0{
    border: none !important;
  }

}
@include media-breakpoint-down(sm) {
  // .galleries-page{
  //   .c-rounded-circle{
  //     display: none;
  //   }
  // }
}
@include media-breakpoint-down(md) {  }
@include media-breakpoint-down(lg) {  }
@include media-breakpoint-up(xs) {  }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {
  .h1-md { font-size: $h1-font-size !important;  }
  .h2-md { font-size: $h2-font-size !important;  }
  .h3-md { font-size: $h3-font-size !important;  }
  .h4-md { font-size: $h4-font-size !important;  }
  .h5-md { font-size: $h5-font-size !important;  }
  .h6-md { font-size: $h6-font-size !important;  }

  .justify-content-md-around{
    justify-content: space-around !important;
  }

  @for $i from 1 through 10 {
    .mt-md-#{$i}0 { margin-top: #{$i}0%; }
  }

}

@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }

@include media-breakpoint-only(xs) {
  .d-xs-none{
    display: none;
  }
}
@include media-breakpoint-only(sm) {  }
@include media-breakpoint-only(md) {  }
@include media-breakpoint-only(lg) {  }
@include media-breakpoint-only(xl) {  }

@each $name, $size in $grid-breakpoints {
  $infix-name: breakpoint-infix($name, $grid-breakpoints);

  @include media-breakpoint-up(#{$name}) {
    @for $i from 1 through 40 {
      .rem#{$infix-name}-#{$i} { width: #{$i}rem; }
    }
  }

}
