
<!-- Footer -->
<!-- border grey -->
<footer class="position-relative page-footer font-small white black-text pt-4" style="border: 1px solid #9e9e9e">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <div class="container">


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="">联系地址</h5>
          <p>广西省·南宁市·青秀区</br>越秀路18号大自然花园</br>F4号楼602室</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="">联系电话</h5>
          <p>156-7700-8080</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="">联系电话</h5>
          <p>156-7700-8080</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright white black-text text-center py-3">© 2018 Copyright:
    <a class="black-text" href="https://sflx.com.cn/"> 广西四方连续文化传媒有限公司</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
