
<!-- Footer -->
<!-- border grey -->
<footer class="position-relative page-footer font-small blue pt-md-5 pt-2" style="">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <div class="container">


      <!-- Grid row -->
      <div class="row justify-content-md-around justify-content-center">

        <!-- Grid column -->
        <div class="mt-md-0 mt-3">
          <!-- Content -->
          <div class="row">
            <div class="col">
              <div class="pb-3">
                <%= image_tag "LOGO.svg", width: "200px", class: "img-fluid mx-auto" %>
              </div>

              <div class="pb-3">
                <div class="d-flex justify-content-center" style="width:200px">
                  <a class="icon-link round weixin fill z-depth-1">
                    <i class="fab fa-weixin"></i>
                  </a>
                  <a href="http://wpa.qq.com/msgrd?v=3&uin=877881120&site=qq&menu=yes" target="_blank" class="icon-link round qq fill z-depth-1">
                    <i class="fab fa-qq"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="font-weight-bold">联系地址</h5>
          <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width:60px;">
          <p>广西省·南宁市·青秀区</br>越秀路18号大自然花园</br>F4号楼602室</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column  -->
        <div class="mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="font-weight-bold">联系我们</h5>
          <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width:60px;">
          <p><i class="fas fa-phone mr-2"></i>156-7700-8080</p>
          <p><i class="fas fa-envelope mr-2"></i>877881120@qq.com</p>

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->
    </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 mt-4">© 2018 Copyright:
    <a class="" href="https://sflx.com.cn/"> 广西四方连续文化传媒有限公司</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
