<%#byebug%>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
<button class="toggle-button">☰</button>
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>


    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <%= MenuPresenter.new(  Menus.new.menu_array, self ).to_html %>

        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
